---
// src/layouts/Layout.astro
import "../styles/global.css";
import WhatsAppButton from "../components/WhatsAppButton.astro";

interface Props {
	title: string;
	lang: "es" | "en";
}

const { title, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Pickleball Águilas - Isla del Fraile"
		/>
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/png" href="/logo-circular.png" />

		<title>{title}</title>
	</head>
	<body class="bg-gray-50 text-gray-900 font-sans relative">
		<slot />

		<WhatsAppButton lang={lang} />
	</body>
</html>
